<!-- gmapping.launch: launch stage with our navigation node -->
<launch>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find simstage_group)/worlds/cumberland.world" />
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>
</launch>

